@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@200&display=swap');

body {
  font-family: 'Noto Sans Mono';
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100vh;
  background: rgb(89, 89, 89);
  color: white;

  animation: intro 1s ease-in;
}

.mobile {
    display: none;
}

header {
    flex: 0 .5em;
}

#mobile_menu {
    display: none;
    text-align: left;
    padding: 0;
}

ul {
    padding: 0;
}

#mobile_menu_trigger:hover #mobile_menu {
    display: block;
    animation: menu_display 1s ease-in;
}

.menu_item {
    list-style: none;
}

.custom_button {
    background-color: rgb(70, 70, 70); 
    border-radius: 5px;
    padding: .25em 1em;
    margin: 0;
    color: rgb(225, 225, 225);
    font-weight: bold;
}

.custom_button:hover {
    color: white
}

header div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
}

header td, p {
    padding: 0 1em;
}

main {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main p {
    width: 50%;
    text-align: center;
    line-height: 1.5em;

    animation: slide_down 1s ease-out;
}

footer {
    flex: 0 1em;
    margin: 0;
    color: white;
    text-align: center;
    justify-content: center;
    border-radius: 5px 5px 0 0;
}

a {
    text-decoration: none;
    font-weight: bold;
}

a:link {
    color: rgb(220, 220, 220);
}

a:visited {
    color: rgb(220, 220, 220);
}

a:hover {
    color: white;
}

@keyframes intro {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}

@keyframes slide_down {
    0% {
        transform: translateY(-1em);
    }
}

@keyframes menu_display {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}

@media (orientation: portrait) {
    header nav {
        display: none;
    }
    .mobile {
        display: block;
    }
}