@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@200&display=swap');

body {
  font-family: 'Noto Sans Mono';
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100vh;
  background: rgb(89, 89, 89);
  color: white;

  animation: intro 1s ease-in;
}

.mobile {
    display: none;
}

header {
    flex: 0 .5em;
}

#mobile_menu {
    display: none;
    text-align: left;
    padding: 0;
}

.menu_item {
    list-style: none;
}

header div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
}

header td, p {
    margin: 0;
    padding: 0 1em 0 0;
}

#source {
    flex-direction: row;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#welcome {
    margin: 0;
    display: block;
    text-align: center;
}

#welcome::after {
    content: "|";
    animation: cursor_blink 1.5s steps(2) infinite;
}

form {
    padding: 1.5em 1.5em .5em 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#username, #password {
    font-family: 'Noto Sans Mono';
    font-size: 1.5em;
    text-align: center;
    
    border: none;      
    background: rgb(70, 70, 70); 
    color: white;
    padding: .5em .65em;   
}

#username {
    border-radius: 3px 3px 0 0;
}

#password {
    border-radius: 0 0 3px 3px;
}

.custom_button {
    background-color: rgb(70, 70, 70); 
    border-radius: 5px;
    padding: .65em 1em;
    color: rgb(225, 225, 225);
    font-weight: bold;
}

.custom_button:hover {
    color: white
}

#submit_credentials {
    padding: .65em 5em;
    cursor: pointer;
}

footer {
    flex: 0 1em;
    margin: 0;
    color: white;
    text-align: center;
    justify-content: center;
    border-radius: 5px 5px 0 0;
}

a {
    text-decoration: none;
    font-weight: bold;
}

a:link {
    color: rgb(220, 220, 220);
}

a:visited {
    color: rgb(220, 220, 220);
}

a:hover {
    color: white;
}

@keyframes intro {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}

@keyframes cursor_blink {
    0% {
        color: transparent;
    }
}

@keyframes menu_display {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}

@media (orientation: portrait) {
    header nav {
        display: none;
    }
    .mobile {
        display: block;
    }
    ul {
        padding: 0;
    }
    #mobile_menu_trigger:hover #mobile_menu {
        display: block;
        animation: menu_display 1s ease-in;
    }
}