@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@200&display=swap');

body {
  font-family: 'Noto Sans Mono';
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100vh;
  background: rgb(89, 89, 89);
  color: white;

  animation: intro 1s ease-in;
}

header {
    flex: 0 .5em;
}

header div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
}

header td, a {
    padding: 0 1em;
}

main {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

#whisper_output {
    padding: 12%;
    background: rgb(80, 80, 80);
    border-radius: 8px;
}

#output_placeholder::before {
    content: "|";
    font-weight: bold;
    animation: cursor_blink 1.5s steps(2) infinite;
}

.custom_button {
    background-color: rgb(70, 70, 70); 
    border-radius: 5px;
    padding: .65em 1.5em;
    color: rgb(225, 225, 225);
    font-weight: bold;
}

.custom_button:hover {
    color: white
}

footer {
    flex: 0 1em;
    margin: 0;
    color: white;
    text-align: center;
    justify-content: center;
    border-radius: 5px 5px 0 0;
}

a {
    text-decoration: none;
    font-weight: bold;
}

a:link {
    color: rgb(220, 220, 220);
}

a:visited {
    color: rgb(220, 220, 220);
}

a:hover {
    color: white;
}

@keyframes intro {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}

@keyframes cursor_blink {
    0% {
        color: transparent;
    }
}